<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layouts/main_layout :: head(title = 'Gift It - Add Items')}">
    </head>
    <body>
    <nav th:replace="~{layouts/main_layout :: nav}"></nav>

    <div style="color:white; padding-top: 130px" class="container">
        <div style=" margin-top: 60px;" class="row" th:if="${success}">
            <div class="col-md-3"></div>
            <div class="col-md-6 alert alert-success" role="alert" >
                Item Added Successfully!
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" href="profile">My Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="add_items">Add Item</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="friends">Friends</a>
                </li>
            </ul>
        </div>

    <form  class="form-horizontal" role="form" method="POST" th:action="@{/add_items}" th:object="${item}" th:if="!${success}">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2>What do You Want?</h2>
                <hr>
            </div>
        </div>
        <div class="row" th:if="${validationErrors}">
            <div class="col-md-3"></div>
            <div class="col-md-6">
            <span class="text-danger align-middle">
                <ul th:each="error : ${validationErrors}">
                    <li th:text="${error.getDefaultMessage()}"></li>
                </ul>
            </span>
            </div>
        </div>

<!------------- Link ------------>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="link">Link</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"></div>
                        <input type="url"
                               name="link"
                               class="form-control"
                               id="link"
                               placeholder="Find an item anywhere online and paste the link here"
                               th:field="*{link}" required autofocus>
                    </div>
                </div>
            </div>
        </div>

<!------------- Description ------------>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="description">Notes</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"></div>
                        <textarea rows="3"
                                  type="text"
                                  name="description"
                                  class="form-control"
                                  id="description"
                                  placeholder="Any additional notes about the item? (e.g. color, size, etc.)"
                                  th:field="*{description}" autofocus></textarea>
                    </div>
                </div>
            </div>
        </div>

<!------------- Price ------------>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="price">Price $</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0" >
                        <div class="input-group-addon" style="width: 2.6rem"></div>
                        <input type="number"
                               name="price"
                               class="form-control"
                               id="price"
                               placeholder="100.00 - Please enter 0 if there is no price"
                               th:field="*{price}" autofocus required>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button style="float: right" type="submit" class="btn btn-success"><i class="fas fa-plus-circle"></i> Add Item</button>
            </div>
        </div>
    </form>
    </div>
    </body>
</html>
