<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/main_layout :: head(title = 'Gift It - Profile')}">
</head>
<body>

<nav th:replace="~{layouts/main_layout :: nav}"></nav>
<div th:replace="~{layouts/main_layout :: jumbotron}"></div>

<!-- profile -->
<div id="profile" class="container" style="color: white">

    <div class="row">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="profile">My Items</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="add_items">Add Item</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="friends">Friends</a>
            </li>
        </ul>
    </div>


</div><!-- // profile -->


<div>
    <form action="/friends">
        <a style="float:left;" class="nav-link" th:href="@{/friends}"><i class="fas fa-search"></i></a>
        <input style="float:left; margin-top:5px; border-radius:0.25rem; border: 1px solid #ced4da;" type="text"
               placeholder="Find Friends" name="search">
    </form>
</div>


</body>
</html>