<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/main_layout :: head(title = 'Gift It - User Profile')}">
</head>
<body>

<nav th:replace="~{layouts/main_layout :: nav}"></nav>

<div  style=" margin-top: 60px;" class="row" th:if="${success}">
    <div class="col-md-3"></div>
    <div class="col-md-6 alert alert-success" role="alert">
        Status updated!
    </div>
    <div class="col-md-3"></div>
</div>

<!--Show add friend button if the users are not friends already; show remove friend button if the users are friends-->
<div style="color:white" class="container">
<span th:switch="${areUsersFriends}">
    <form style="padding-top: 130px" class="form-horizontal" role="form" method="POST" th:action="@{/search}" th:if="!${success}">
        <h1>Stuff <span th:text="${firstName}"></span> wants</h1>
            <div  style=" margin-top: 60px;" class="row">
                <div style="padding-bottom: 30px" class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <button th:case="'false'" type="submit" class="btn btn-success" ><i class="fas fa-plus-circle"></i> Add Friend</button>
                        <button th:case="'true'" type="submit" class="btn btn-remove" ><i class="fas fa-minus-circle"></i> Remove Friend</button>
                    </div>
                </div>
            </div>
    </form>

</span>

    <!--iframely card is displayed for each link that the user has entered-->
    <div id="columns">
        <figure class="tooltip2" th:each="itemDTOS : ${itemDTOS}">
            <div class="iframely-embed">
                <!--API key has been removed for security purposes-->
                <div class="iframely-responsive" style="height: 140px; padding-bottom: 0;"><a
                        th:data-iframely-url="@{'//cdn.iframe.ly/api/iframe?url='+${itemDTOS.link}+'&api_key=...&iframe=card'}" target="_blank" ></a>
                </div>
            </div>
            <div th:if="${itemDTOS.description != ''}">
                <div class="tooltiptext2" th:text="${itemDTOS.description}"></div>
            </div>
            <script async src="//cdn.iframe.ly/embed.js" charset="utf-8"></script>
            <p class="price">$<span th:text="${#numbers.formatDecimal(itemDTOS.price, 0, 'COMMA', 2, 'POINT')}">10.00</span></p>

        </figure>
    </div>


</div><!-- // profile -->
</body>
</html>