a{
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}

.bg-spring {
    background-color: hsla(228, 19%, 5%, 0.79)!important;

}

nav .nav-item {
    font-family: 'Gayathri', sans-serif;
    padding-right:10px;
}

button.nav-link {
    background: #2D2A27;
    border:none;
    cursor: pointer;
}

body {
    padding-top: 30px;
    background: #ffffff;
    color: #ffffff;
    background-color: #82adfb;
    font-family: 'Gayathri', sans-serif;

    background-image: radial-gradient(#ffffff 1%, transparent 2%),
    radial-gradient(#fafafa 2%, transparent 1%);
    /*background-color: #e53935;*/
    background-position: 0 0, 50px 50px;
    background-size: 100px 100px;
    height: 200px;
    width: 100%;

}


/* Links */
.position {
    color:#E9C46A;

}

.title {
    margin:0px;
}
.tagline {
    font-size:14px;
}

.domain  {
    color:#E9C46A;
    font-size:13px;
    padding-left:10px;
}
.domain a, .domain a:hover, .domain a:visited {
    color:#E9C46A;
}

/* Registration */
@media(min-width: 768px) {
    .field-label-responsive {
        padding-top: .5rem;
        text-align: right;
    }
}


.border-with-shadow{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.30s;
  border-radius: 6px; /* 5px rounded corners */
  padding-left:40px;
  padding-right:40px;
  padding-top:14px;
  padding-bottom:5px;
  margin-bottom:25px;
  margin-right:5px;
  background-color: #243c63;

}

#columns {
    display: inline;
    column-width: 320px;
    column-gap: 15px;
    width: 100%;
    max-width: 1100px;
    margin: 50px auto;

}

div#columns figure {
    border-radius: 6px;
    color: black;
    width:330px;
    background: #fefefe;
    border: 2px solid #fcfcfc;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    padding: 15px;
    padding-bottom: 10px;
    transition: opacity .4s ease-in-out;
    display: inline-block;
    column-break-inside: avoid;

}

div#columns small {
    font-size: 1rem;
    float: right;
    text-transform: uppercase;
    color: #aaa;

}

div#columns small a {
    color: #666;
    text-decoration: none;
    transition: .4s color;
}

div#columns:hover figure:not(:hover) {
    opacity: 0.4;

}


@media screen and (max-width: 750px) {
    #columns { column-gap: 0px; }
    #columns figure { width: 100%; }
}

.price{
    font-size: 12px;
    font-weight: lighter;
    color: #ff884d;
    float: right;
}

.tooltip2 {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip2 .tooltiptext2 {
    visibility: hidden;
    width: 325px;
    background-color: #383838ba;
    color: #f9f9f9;
    text-align: left;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 19%;
    margin-left: -60px;
}

.tooltip2 .tooltiptext2::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip2:hover .tooltiptext2 {
    visibility: visible;
}

.inside{
    background-color: #0c5460;
}